@use "src/styles/base";

.TaskCreate {
  @include base.boxsizing;

  .formInline {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
    flex-direction: column;

    @media screen and (min-width: base.$screen-medium) {
      flex-direction: row;
      justify-items: center;
      align-items: flex-start;

      > :first-child {
        width: 70%;
      }

      > :nth-child(2) {
        width: 20%;
      }

      > :last-child {
        width: 10%;
      }
    }

    > button {
      display: block;
    }

  }

}


