@use "src/styles/base";

.TaskFilter {
  .formInline {
    @include base.boxsizing;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    padding: .5rem;
    gap: .5rem;
    background-color: rgb(242, 245, 255);
    border-bottom: solid 1px #ddd;

    > :first-child {
      width: 50%;
    }

    > :last-child {
      width: 50%;
    }

    @media screen and (min-width: base.$screen-medium) {
      > :first-child {
        width: 70%;
      }
      > :last-child {
        width: 30%;
      }
    }

  }
}


