@use "../../../styles/base";

.TaskEdit {
  @include base.boxsizing;
  text-align: center;

  > form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: left;
  }

  .actions {
    display: flex;
    gap: .5rem;

    > button {
      display: block;
      width: 50%;
    }
  }

}


