@use "../../../styles/base";

.TaskForm {
  @include base.boxsizing;

  .formInline {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: 1rem;
    > :first-child {
      width: 70%;
    }
    > :nth-child(2) {
      width: 20%;
    }
    > :last-child {
      width: 10%;
    }
    > button {
      display: block;
    }
  }
}


