@use "src/styles/base";

.Dialog {
  @include base.boxsizing;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
  }

  .container {
    position: relative;
    @include base.rounded-corners(.25rem);
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;

    min-width: 300px;
    min-height: 150px;
    max-width: 100%;
    @media screen and (min-width: base.$screen-small) {
      min-width: 360px;
      min-height: 200px;
    }
  }

}


